<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print.css') }}">
</head>
<body>
    {% for page in printer.pages %}
        <div class="page">
            <div class="row clearfix">
                <div class="header-block header-left">
                    <p>
                        <span>Kassenbuch vom</span><span></span>
                    </p>
                    <p>
                        <span>Betriebs-Nr.</span><span></span>
                    </p>
                    <p>
                        <span>Name/Betrieb</span><span></span>
                    </p>
                </div>
                <img src="{{ asset('assets/images/print/Logo.png') }}" alt="" class="logo">
            </div>
            <div class="row clearfix">
                <div class="header-block header-right">
                    <p>
                        <span>Konto-Nr.</span>
                        <span></span>
                    </p>
                    <p>
                        <span>Monat/Jahr</span>
                        <span>{{ page.pageDate }}</span>
                    </p>
                    <p>
                        <span>Blatt-Nr.</span>
                        <span>{{ loop.index }}</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <table class="ui celled structured table">
                    <thead>
                    <tr>
                        <th colspan="2">+ Eingabe</th>
                        <th colspan="2">- Ausgabe</th>
                        <th colspan="2">Bestand</th>
                        <th rowspan="2">Be-richti-gung</th>
                        <th rowspan="2">USt</th>
                        <th colspan="2">Gegen-Kto.</th>
                        <th rowspan="2">Rechn.- Nr.</th>
                        <th rowspan="2">Beleg Nr.</th>
                        <th rowspan="2">Datum</th>
                        <th rowspan="2">Skonto</th>
                        <th rowspan="2" class="left aligned">Text</th>
                        <th rowspan="2">USt-Satz</th>
                    </tr>
                    <tr>
                        <th>EURO</th>
                        <th>Ct</th>
                        <th>EURO</th>
                        <th>Ct</th>
                        <th>EURO</th>
                        <th>Ct</th>
                        <th>K</th>
                        <th>Nr.</th>
                    </tr>
                    <tbody>
                    {% include 'includes/print/startBalanceRow.html.twig' with {'startBalance': page.startBalance} %}
                    {% for row in page.rows %}
                        <tr>
                            {% if row is not empty %}
                                {% include 'includes/print/transactionRow.html.twig' with {'transaction': row} %}
                            {% else %}
                                {% include 'includes/print/empyRow.html.twig' %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>{{ page.salesSum | euros }}</td>
                        <td>{{ page.salesSum | cents }}</td>
                        <td>{{ page.ordersSum | euros }}</td>
                        <td>{{ page.ordersSum | cents }}</td>
                        <td colspan="2">Summen</td>
                        <td colspan="8" rowspan="3" class="no-border-right"></td>
                        <td colspan="2" class="no-border-left"></td>
                    </tr>
                    <tr>
                        <td>{{ page.ordersSum | euros }}</td>
                        <td>{{ page.ordersSum | cents }}</td>
                        <td colspan="2" rowspan="2" class="arrow">
                            <img src="{{ asset('assets/images/print/arrow.png') }}" alt="arrow">
                        </td>
                        <td colspan="2">./. Ausgaben</td>
                        <td colspan="2" class="left aligned">geprüft</td>
                    </tr>
                    <tr>
                        <td>{{ page.finishBalance | euros }}</td>
                        <td>{{ page.finishBalance | cents }}</td>
                        <td colspan="2">Saldo</td>
                        <td colspan="2" class="left aligned">gebucht</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <span class="signature">Unterschrift</span>
            <img class="footer-logo" src="{{ asset('assets/images/print/Botttom.png') }}" alt="watermark">
        </div>
    {% endfor %}
</body>