{% extends 'layout.html.twig' %}

{% block actions %}
    <div class="item">
        <a href="{{ path('register_sale_new') }}"
           class="ui button green fluid massive">
            Neue Verkauf
        </a>
    </div>
{% endblock %}

{% block main %}
    <div class="ui grid container">
        {% if notes %}
            {% for note in notes %}
                <div class="four wide column">
                    <div class="ui cards">
                        <div class="card">
                            <div class="content bold bigtext center aligned">
                                {{ note.client.name }}
                            </div>
                            <div class="content">
                                <span class="bold">Summe: {{ note.total | number_format(2) }} €</span>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <a class="ui blue button massive icon"
                                       href="{{ path('register_debtnote_show', {'note': note.id}) }}">
                                        <i class="edit icon white"></i>
                                    </a>
                                    <a class="ui red button massive icon"
                                       href="{{ path('register_debtnote_delete', {'note': note.id}) }}">
                                        <i class="trash icon white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="ui container">
                <span class="ui horizontal section divider">Keine Schuldzetteln vorhanden</span>
            </div>
        {% endif %}
    </div>
{% endblock %}
