<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/main.css') }}">
</head>
<body>
<div class="ui inverted segment menu attached">
    <a href="{{ path('home') }}" class="item">
        POS
    </a>
    {% block header %}{% endblock %}

    <a href="{{ path('management') }}" class="item right">
        <i class="setting play icon"></i>
    </a>
</div>
<div class="ui attached">
    {% block actions %}{% endblock %}
</div>

<br/>

{% block main %}{% endblock %}

{% for message in app.flashes('error') %}
    <div class="alert alert-error">
        {{ message }}
    </div>
{% endfor %}

{% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ asset('assets/semantic.min.js') }}"></script>
<script src="{{ asset('assets/main.js') }}"></script>
</body>
</html>
