{% extends 'layout.html.twig' %}

{% block header %}
    <a href="{{ path('home') }}" class="item">
        POS
    </a>
    <a href="{{ path('management') }}" class="item">
        Verwaltung
    </a>
    <a href="#" class="item active">
        Produkte
    </a>
{% endblock %}

{% block actions %}
    <div class="item">
        <a href="{{ path('management_product_new') }}"
           class="ui button green fluid massive">
            Neu
        </a>
    </div>
{% endblock %}

{% block body %}
    {% if categories %}
        {% for category in categories %}
            <span class="ui horizontal section divider">{{ category.name }}</span>
            {% if category.products is not empty %}
                <div class="ui grid">
                    {% for product in category.products %}
                        <div class="four wide column">
                            <div class="ui cards">
                                <div class="card">
                                    <div class="content bold bigtext center aligned">
                                        <a class="ui button big blue fluid"
                                           href="{{ path('management_product_edit', {'product': product.id}) }}">
                                            {{ product.name }}
                                        </a>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <a class="ui red button big icon"
                                               href="{{ path('management_product_delete', {'product': product.id}) }}">
                                                <i class="trash icon white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                    <span class="ui horizontal section divider">Keine {{ category.name }}-Produkte vorhanden</span>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="ui container">
            <span class="ui horizontal section divider">Keine Kategorien vorhanden</span>
        </div>
    {% endif %}
{% endblock %}
