{% extends 'layout.html.twig' %}

{% block header %}
    <a href="{{ path('management') }}" class="item">
        Verwaltung
    </a>
    <a href="{{ path('management_product_list') }}" class="item">
        Produkte
    </a>
    <a href="#" class="item active">
        Neues Produkt
    </a>
{% endblock %}

{% block actions %}
    <div class="item">
        <button class="ui button green fluid massive" form="form">
            Speichern
        </button>
    </div>
{% endblock %}

{% block body %}
    <div class="ui container">
        {{ form_start(form, {'attr': {'id':'form', 'class': 'ui form'}}) }}
        <div class="field">
            <label>Name</label>
            {{ form_widget(form.name, {'attr': {'autofocus': ''}}) }}
        </div>
        <div class="field">
            <label>Preis</label>
            {{ form_widget(form.price) }}
        </div>
        <div class="field">
            <label>Kategorie</label>
            {{ form_widget(form.category) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
