{% extends 'layout.html.twig' %}

{% block header %}
    <a href="{{ path('home') }}" class="item">
        <i class="home icon big"></i>
        POS
    </a>
    <a href="{{ path('management') }}" class="item">
        Verwaltung
    </a>
    <a href="#" class="item active">
        Kunden
    </a>
{% endblock %}

{% block actions %}
    <div class="item">
        <a href="{{ path('management_client_new') }}"
           class="ui button green fluid massive">
            Neu
        </a>
    </div>
{% endblock %}

{% block body %}
    <div class="ui grid container">
        {% if clients %}
            {% for client in clients %}
                <div class="four wide column">
                    <div class="ui cards">
                        <div class="card">
                            <div class="content bold bigtext center aligned">
                                <a class="ui button big blue fluid" href="{{ path('management_client_edit', {'client': client.id}) }}">
                                    {{ client.name }}
                                </a>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <a class="ui red button big icon"
                                       href="{{ path('management_client_delete', {'client': client.id}) }}">
                                        <i class="trash icon white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="ui container">
                <span class="ui horizontal section divider">Keine Kunden vorhanden</span>
            </div>
        {% endif %}
    </div>
{% endblock %}
