{% extends 'layout.html.twig' %}

{% block header %}
    POS
{% endblock %}

{% block actions %}
    <div class="item">
        <a href="{{ path('register_sale_new') }}"
           class="ui button green fluid massive">
            Neue Verkauf
        </a>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <h2>Neue Verkaufsware</h2>
    </div>
    {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
    <div class="fields">
        <div class="field">
            <label>Tag</label>
            {{ form_widget(form.date.day) }}
        </div>
        <div class="field">
            <label>Monat</label>
            {{ form_widget(form.date.month) }}
        </div>
        <div class="field">
            <label>Jahr</label>
            {{ form_widget(form.date.year) }}
        </div>
    </div>

    <div class="field">
        <label>Text</label>
        {{ form_widget(form.item) }}
    </div>
    <div class="field">
        <label>Preis</label>
        {{ form_widget(form.price) }}
    </div>
    <button type="submit" class="ui button sixteen wide field">Speichern</button>
    {{ form_end(form) }}
{% endblock %}
