{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <h2>Neue Bestellung</h2>
    </div>
    {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
    <div class="three fields">
        <div class="field">
            <label>Tag</label>
            {{ form_widget(form.date.day) }}
        </div>
        <div class="field">
            <label>Monat</label>
            {{ form_widget(form.date.month) }}
        </div>
        <div class="field">
            <label>Jahr</label>
            {{ form_widget(form.date.year) }}
        </div>
    </div>

    <div class="field">
        {{ form_label(form.item) }}
        {{ form_widget(form.item) }}
    </div>
    <div class="field">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
    </div>
    <button type="submit" class="ui button sixteen wide field">Speichern</button>
    {{ form_end(form) }}
{% endblock %}
